body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
    font-family: 'Chonburi';font-size: 20px;
    /* ไม่ให้เลื่อนหน้าจอ */
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #028940;
    color: #fff;
    padding: 2px 30px;
  }
  #clock {
    font-size: 0.7em;
  }
  .clockTime{
     position: fixed; /* กำหนดให้นาฬิกาติดแน่นกับขอบของหน้าจอ */
  top: 13px; /* จัดให้อยู่ที่ด้านบนสุด */
  right: 30px; /* ระยะห่างจากขอบขวาของหน้าจอ */
  color: #F6F6F6;
  }
  button {
    border: none;
    background-color: #FFC20D;
    font-size: 50px;
  }
  .button-page{
    position: relative;
    border: none;
    font-size: 50px;
    margin-right: 50px;
    top: 2%;
  }
  
  .button-next-1{
    position: relative;
    width: 100%;
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #028940;
  }
  .footer {
    padding: 5px 30px;
    background-image: linear-gradient(to right, #028940 70%, #FFC20D 30%);
    color: #fff;
  }